//.c-about
@include component("about") {
  //.c-about__container
  @include child("container") {
    &:before {
      content: "";
      position: absolute;
      aspect-ratio: 442/225;
      background-image: url("../assets/img/swoosh-1.svg");
      background-repeat: no-repeat;
      background-size: 100px;
      width: 100px;
      height: auto;
      top: 100px;
      right: 40px;
      z-index: 0;
    }

    @include mq("md") {
      &:after {
        content: "";
        position: absolute;
        aspect-ratio: 442/225;
        mask: url("../assets/img/swoosh-1.svg");
        mask-repeat: no-repeat;
        background-color: $dark-gray;
        mask-size: 170px;
        width: 170px;
        height: auto;
        bottom: 0;
        left: -40px;
        z-index: 0;
        transform: rotate(40deg);
      }
    }
  }
}
