.l-header {
  #nav-toggle {
    position: absolute;
    z-index: 1500;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    span {
      position: absolute;
      display: block;
      right: 9px;
      width: 23px;
      height: 2px;
      margin-top: 0;
      background: #000;
      content: "";
      cursor: pointer;
      transition: all 0.4s ease;
      transform: rotate(0deg);
      border-radius: 5px;
      &.top {
        top: 14px;
      }
      &.mid,
      &.mid2 {
        top: 20px;
      }
      &.bottom {
        top: 26px;
      }
    }
    //#nav-toggle.is-opened
    @include state("opened") {
      span {
        &.top,
        &.bottom {
          opacity: 0;
        }
        &.mid {
          transform: rotate(45deg);
        }
        &.mid2 {
          transform: rotate(-45deg);
        }
      }
    }
  }

  //.l-header__navigation
  @include child("navigation") {
    //.l-header__navigation--mobile
    @include modifier("mobile") {
      .l-header__nav {
        transition: background-color 0.2s linear;
        background: rgba(0, 0, 0, 0);

        position: absolute;
        width: 100%;
        top: 65.99px;
        height: calc(100vh - 70px);
        left: -100%;

        overflow-x: hidden;
        ul {
          transition: all 0.2s linear;
          background-color: #fff;
          width: 100%;
          height: 100%;
          max-width: 500px;
          position: absolute;
          left: -100%;
          top: 0;
        }

        //.l-header__nav.is-opened
        @include state("opened") {
          z-index: 1000;
          background: rgba(0, 0, 0, 0.5);
          left: 0;
          ul {
            left: 0;
          }
        }
      }
    }
  }

  .nav-link {
    &:before {
      content: "";
      position: absolute;
      transition: all linear 200ms;
      top: calc(50% + 2px);
      transform: translateY(-50%);
      left: -20px;
      border-radius: 100px;
    }
    &.is-active {
      color: #333;
      &:before {
        background-color: $green;
        width: 10px;
        height: 10px;
      }
    }
  }
}
