@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

// Fonts
$inter: "Inter", sans-serif;
$space-grotesk: "Space Grotesk", sans-serif;
$serif: "DM Serif Display", serif;

h1,
h2 {
  font-family: $space-grotesk;
}

h3,
h4,
h5,
h6 {
  font-family: $space-grotesk;
}

p,
b,
i a,
span,
textarea {
  font-family: $inter;
}
