@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

// Colors
$green: #00e19f;

// Fonts
$inter: "Inter", sans-serif;
$space-grotesk: "Space Grotesk", sans-serif;
$serif: "DM Serif Display", serif;

h1,
h2 {
  font-family: $space-grotesk;
}

h3,
h4,
h5,
h6 {
  font-family: $space-grotesk;
}

p,
b,
i a,
span,
textarea {
  font-family: $inter;
}

// Buttons
$btn-offset: 6px;

.btn-primary {
  top: -$btn-offset;
  left: -$btn-offset;
  transition: all linear 200ms;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
  }

  &:after {
    content: "";
    position: absolute;
    top: $btn-offset;
    left: $btn-offset;
    z-index: -2;
    background-color: $green;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    transition: all linear 200ms;
  }
  svg {
    path {
      stroke: $green;
    }
  }

  &:hover,
  &:focus {
    top: 0;
    left: 0;
    &:after {
      top: 0;
      left: 0;
    }
  }
}
