@import "./mixins/bem";
@import "./mixins/mq";
@import "./layout";
@import "./header";
@import "./footer";
@import "./about";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}
