@import "tailwindcss";

/* @font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
} */

.btn {
  @apply bg-black text-white flex gap-x-2 justify-center items-center px-6 py-3 text-xl font-semibold leading-none;
}

.btn-secondary {
  @apply bg-transparent text-black;
}

.nav-link {
  @apply block text-xl font-semibold text-zinc-700;
}

.footer-nav-link {
  @apply inline-flex h-9 w-9 items-center justify-center rounded-full border-2 border-zinc-300 bg-white text-zinc-700 hover:text-zinc-900 dark:border-white dark:bg-black dark:text-zinc-300 dark:hover:text-white;
}

h1 {
  @apply text-5xl md:text-6xl font-bold;
}
h2 {
  @apply text-3xl md:text-5xl font-bold;
}
h3 {
  @apply text-2xl md:text-3xl font-bold;
}

.s-featured:nth-child(2) .s-featured__description {
  @apply md:-order-1;
}
