@import "tailwindcss";

/* @font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
} */

.btn {
  @apply relative z-10 bg-black text-white flex gap-x-2 justify-center items-center px-4 py-2 text-sm font-medium leading-none;
}

.btn-large {
  @apply px-6 py-3 text-xl font-semibold;
}

.btn-secondary {
  @apply duration-200 bg-transparent text-black border-2 border-transparent transition-colors;
}

.nav-link {
  @apply relative block text-xl font-semibold text-zinc-500 transition-all duration-200;
}

.footer-social-link {
  @apply inline-flex h-9 w-9 items-center justify-center transition-all duration-200 rounded-full border-2 border-zinc-300 bg-white text-zinc-700 hover:text-zinc-900 dark:border-white dark:bg-black dark:text-white dark:hover:text-black dark:hover:bg-white;
}

h1 {
  @apply text-5xl md:text-6xl font-bold;
}
h2 {
  @apply text-3xl md:text-5xl font-bold;
}
h3 {
  @apply text-2xl md:text-3xl font-bold;
}
h4 {
  @apply text-lg md:text-xl font-bold;
}

.s-featured:nth-child(2) .s-featured__description {
  @apply md:-order-1;
}
