@import "tailwindcss";

/* @font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
} */

.btn {
  @apply bg-black text-white flex gap-x-2 justify-center items-center px-6 py-3 text-xl font-semibold leading-none;
}

.btn-secondary {
  @apply bg-transparent text-black;
}

.nav-link {
  @apply block text-xl font-semibold text-zinc-700;
}

h1 {
  @apply text-6xl md:text-7xl font-bold;
}
h2 {
  @apply text-3xl md:text-5xl font-bold;
}
h3 {
  @apply text-2xl md:text-3xl font-bold;
}

.s-featured:nth-child(2) .s-featured__description {
  @apply md:-order-1;
}
