@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter-italic.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/fonts/space-grotesk.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("/assets/fonts/dm-serif-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("/assets/fonts/dm-serif-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Base Styles */
@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
  p,
  b,
  i,
  a,
  span,
  textarea {
    font-family: "Inter", sans-serif;
  }

  h1 {
    @apply text-4xl md:text-5xl font-bold;
    font-family: "Space Grotesk", sans-serif;
  }
  h2 {
    @apply text-3xl md:text-4xl font-bold;
    font-family: "Space Grotesk", sans-serif;
  }
  h3 {
    @apply text-2xl md:text-3xl font-bold;
    font-family: "Space Grotesk", sans-serif;
  }
  h4 {
    @apply text-lg md:text-xl font-bold;
    font-family: "Space Grotesk", sans-serif;
  }
  h5 {
    @apply text-2xl md:text-3xl font-semibold italic tracking-wider;
    font-family: "DM Serif Display", serif;
  }
  h6 {
    font-family: "DM Serif Display", serif;
  }
  body {
    font-family: "Inter", system-ui, sans-serif;
  }
}

@layer components {
  .btn {
    @apply relative z-10 bg-black text-white flex gap-x-2 justify-center items-center px-4 py-2 text-sm text-nowrap font-medium leading-none;
  }

  .btn-large {
    @apply px-6 py-3 text-xl font-semibold;
  }

  .btn-secondary {
    @apply duration-200 bg-transparent text-black border-2 border-transparent transition-colors;
  }

  .nav-link {
    font-family: "Space Grotesk", sans-serif;
    @apply relative block text-xl font-semibold text-zinc-500 transition-all duration-200;
  }

  .footer-social-link {
    @apply inline-flex h-9 w-9 items-center justify-center transition-all duration-200 rounded-full border-2 border-zinc-300 bg-white text-zinc-700 hover:text-zinc-900 dark:border-white dark:bg-black dark:text-white dark:hover:text-black dark:hover:bg-white;
  }
}

.s-featured:nth-child(2) .s-featured__description {
  @apply md:-order-1;
}
